div[class~="noPadingCard"]>div[class="ant-card-head"]>div[class~="ant-card-head-wrapper"]>div[class~="ant-card-extra"] {
  float: right;
  padding: 0px;
  text-align: right;
  margin-left: auto;
}
div[class~="noPadingCard"]>div[class~="ant-card-head"]{
  padding: 0px;
  min-height: 0px;
}

#searchTable .ant-input-suffix{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);;
}

.searchTable>input {
  cursor: pointer;
}

.searchTable .ant-input-suffix{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.25);
  transition: color 0.3s ease;
}

.searchTable .ant-input-suffix .close-circle:hover{
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

